<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 1.6; background-color: white; margin: 0; padding: 0; line-height: 22px; ">

    <div style="max-width: 600px; margin: 0 auto; border-radius: 8px; box-shadow: 0 2px 10px rgba(0,0,0,0.05); margin-bottom: 30px;  margin-top: 30px; padding-bottom: 30px;  padding-top: 30px;">
        <!-- Шапка -->
        <div style="text-align: center; margin-bottom: 30px; padding-bottom: 20px;">
            <div style="position: relative; text-align: center; margin: 0 auto; padding-bottom: 30px; display: inline-block;">
                <img src="https://storage.yandexcloud.net/zero-percent-assets/bottle_with_background.png"
                     style="max-width: 600px; display: block; margin: 0 auto;"
                     alt="Бутылка с фоном">
            </div>

            <img src="https://storage.yandexcloud.net/zero-percent-assets/middle__title.svg"
                 style="display: block;
                        margin: 0 auto;"
                 alt="Заголовок">
        </div>

        <!-- Основное содержимое -->
        <div style="margin: 0 auto; max-width: 450px; background-color: white; padding: 25px; margin-bottom: 20px; border-top: 1px solid #7f7f7f50; border-bottom: 1px solid #7F7F7F50;">
            <p>Здравствуйте,</p>

            <p>Мы получили запрос на сброс пароля для вашей учетной записи в Zero Percent.</p>
            <p style="font-family: Helvetica, Arial, sans-serif; font-weight: 600">Для продолжения нажмите на кнопку ниже:</p>

            <div style="text-align: center; margin: 40px 0;">
                <a href="{{ reset_url }}"
                   target="_self"
                   style="display: inline-block; padding: 12px 70px; background-color: #FF414D; color: white; text-decoration: none; border-radius: 50px; font-weight: 500;">
                    СБРОСИТЬ ПАРОЛЬ
                </a>
                <p style="font-size: 10px; color: #7F7F7F; margin: 3px;">ссылка будет активна в течение 15 минут.</p>
            </div>


            <p style="color: #FF414D; font-size: 14px;">Если вы не запрашивали сброс пароля, пожалуйста, проигнорируйте это письмо.</p>
        </div>

        <!-- Подвал -->
        <div style="text-align: center; font-size: 14px; color: #2B1B1B; padding-top: 20px; line-height: 10px;">
            <p>С заботой о вашей безопасности,</p>
            <p>Команда Zero Percent</p>
            <div class="social__media__icons"  style="margin-top: 30px;">
                <a href="https://web.telegram.org/a/" style="margin: 10px; text-decoration: none;">
                  <img src='https://storage.yandexcloud.net/zero-percent-assets/icon__tg.svg' class="icon__tg"></img>
                </a>
                <a href="https://web.whatsapp.com/" style="margin: 10px; text-decoration: none;">
                  <img src='https://storage.yandexcloud.net/zero-percent-assets/icon__wa.svg' class="icon__wa"></img>
                </a>
                <a href="https://m.vk.com/" style="margin: 10px; text-decoration: none;">
                  <img src='https://storage.yandexcloud.net/zero-percent-assets/icon__vk.svg' class="icon__vk"></img>
                </a>
              </div>
            <p style="margin-top: 25px; font-size: 10px;">© 2023 Zero Percent. Все права защищены.</p>
        </div>
    </div>
</body>
</html>